@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "RSSFeed";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>RSS Feed Reader</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content m-b-sm border-bottom">
        @using (Html.BeginForm("FeedSearch", "Home", FormMethod.Get))
        {<div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        @if (ViewBag.search != null)
                        {
                            < input name = "search" class="form-control" value="@ViewBag.search" />

                        }
                        else
                        {
                            <input name="search" class="form-control" placeholder="search" />
                        }

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input type="submit" value="search" class="form-control btn btn-outline btn-info" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                    </div>
                </div>
            </div>}
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.RSSFeed != null)
            {
                TempData["search"] = ViewBag.RSSFeed;
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="float-right">(<strong> @ViewBag.count</strong>) items</span>
                        @if (ViewBag.ShowUnsubcribe != null)
                        {
                            <a href="@Url.Action("Unsubcribe", "Home", new { id = ViewBag.ShowUnsubcribe })" class="btn btn-warning">Unsubcribe</a>}
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table shoping-cart-table">

                                <tbody>

                                    @foreach (var item in ViewBag.RSSFeed)
                                    {
                                        <tr>
                                            <td width="90">

                                                <div class="cart-product-imitation">
                                                    <img src="@item.FeedImg" height="50" width="50" />
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h3>
                                                    <a href="#" class="text-navy">
                                                        @item.Title
                                                    </a>
                                                </h3>

                                                <dl class=" m-b-none">
                                                    <dt>Description</dt>
                                                    <dd> @item.Description</dd>
                                                </dl>

                                                <div class="m-t-sm">

                                                    <a href="@item.Link" target="_blank" class="btn btn-xs btn-outline btn-primary">Read<i class="fa fa-long-arrow-right"></i> </a>
                                                </div>
                                            </td>

                                            <td>
                                                @item.FeedName
                                            </td>

                                            <td>
                                                <h4>
                                                    @item.TimeAgo
                                                </h4>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else if (ViewBag.Error != null)
            {@ViewBag.Error
        }
        else
        {
            <div class="row">
                <div class="col-md-4">
                    <h2>Getting started</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Web Hosting</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-default" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>
            </div>
        }
        </div>
    </div>
</div>

@*Modal to add new feeds*@
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-rss-square modal-icon"></i>
                <h4 class="modal-title">Feed Reader</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>@using (Html.BeginForm())
            {
                <div class="modal-body">
                    @*<p>
                            <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>*@
                    <div class="form-group">
                        <label>Address</label> <input type="URL" name="Url" placeholder="Enter RSS Feed URL Here..." class="form-control" value="@ViewBag.URL" style="min-width:100%" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Subcribe</button>
                </div>
            }
        </div>
    </div>
</div>